header
    background-color: black

nav
    display: flex
    justify-content: center
    color: white
    gap: 10px
    li   
        display: flex
        text-decoration: none
        color: white
